<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOUR NAME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
  </head>
  <body>
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container text-center">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="about.html">
          YOUR NAME
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                href="portfoio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="../index.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->
    <main class="mt-5">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold"
      >
        <h2 class="text-center fw-bold fs-1">About me</h2>
        <span class="text-center d-block"
          ><a href="about.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="about.html" class="fw-bold text-white hovr">About</a></span
        >
      </section>
      <!-- end-Block:: introduction SEC -->

      <!-- start-Block:: Biography__sec -->

      <section class="container mt-5 biography-sec rounded-3 mb-5">
        <div class="container p-5">
          <div
            class="d-flex justify-content-center align-items-center gap-5 mb-5 media-mobile__full"
          >
            <img
              src="../content/assets/images/you.jpeg"
              alt=""
              class="img-fluid resize rounded-5 m-mobile"
            />

            <div class="title-container">
              <h2 class="fw-bold text-dark fs-1 text-uppercase">YOUR NAME</h2>
              <p class="fw-bold primary fs-5 text-uppercase">TITLE</p>
            </div>
          </div>
          <ul class="biography-ul text">
            <li class="biography-li mt-4">
              I am currently Corporate Surveying Manager with a rich background
              in the construction and engineering industry, dedicated to
              fostering excellence and innovation. My journey has been marked by
              a continuous pursuit of challenges and a relentless passion for
              improvement.
            </li>
            <li class="biography-li mt-4">
              I am currently Corporate Surveying Manager with a rich background
              in the construction and engineering industry, dedicated to
              fostering excellence and innovation. My journey has been marked by
              a continuous pursuit of challenges and a relentless passion for
              improvement.
            </li>
            <li class="biography-li mt-4">
              I am currently Corporate Surveying Manager with a rich background
              in the construction and engineering industry, dedicated to
              fostering excellence and innovation. My journey has been marked by
              a continuous pursuit of challenges and a relentless passion for
              improvement.
            </li>
          </ul>

          <a
            href="https://drive.google.com/file/d/1Re0utDUeueniXKF79AN0UF-PooMxRjKX/view?usp=sharing"
            class="btn bg__primary text-white fw-bold d-block w--- m-auto hover__btn-primary"
            target="_blank"
            >More Details <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </section>

      <!-- end-Block:: Biography__sec -->
      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div
            class="row text-center align-items-center justify-content-between"
          >
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2023 © YOUR NAME
            </div>
            <div class="social-media__platforms col-md-6 col-sm-12 flex-nowrap">
              <a
                href="https://www.linkedin.com/in/ahmed-ayman-121ba3279/"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a
                href="mailto:ahmedayman2002@gmail.com"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:0201001596496"
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
              <a
                href="https://www.facebook.com/profile.php?id=100003505942851&mibextid=ZbWKwL"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://x.com/AhmedAy96859148?t=Vrs9a9UGC9VC7YvHsCK2lg&s=09"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-6 col-sm-12"
            >
              2023 © YOUR NAME
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>
  </body>
</html>
