<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yasser Helmy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
  </head>
  <body>
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container text-center">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="about.html">
          Yasser Helmy
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                href="portfoio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="../index.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->
    <main class="mt-5">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold"
      >
        <h2 class="text-center fw-bold fs-1">About me</h2>
        <span class="text-center d-block"
          ><a href="about.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="about.html" class="fw-bold text-white hovr">About</a></span
        >
      </section>
      <!-- end-Block:: introduction SEC -->

      <!-- start-Block:: Biography__sec -->

      <section class="container mt-5 biography-sec rounded-3 mb-5">
        <div class="container p-5">
          <div
            class="d-flex justify-content-center align-items-center gap-5 mb-5 media-mobile__full"
          >
            <img
              src="../content/assets/images/Y.jpg
              "
              alt=""
              class="img-fluid resize rounded-5 m-mobile ph"
            />

            <div class="title-container">
              <h2 class="fw-bold text-dark fs-1 text-uppercase">
                Yasser Helmy
              </h2>
              <p class="fw-bold primary fs-5 text-uppercase">
                CEO of Papers for Trading & Contracting
              </p>
            </div>
          </div>
          <ul class="biography-ul text">
            <li class="biography-li mt-4">
              Yaser Helmy is a distinguished professional with a robust career
              in the technology and business sectors. He holds a Bachelor's
              degree in Education from Helwan University, completed in 1999, and
              a Business Administration and Marketing diploma from Cairo
              University, attained in 2006.
            </li>
            <li class="biography-li mt-4">
              In 2014, Yaser founded Papers Trading and Contracting, a private
              company specializing in trading building materials such as
              concrete, wood, sand, and block, as well as contracting services.
              Under his leadership, the company has achieved remarkable
              milestones, expanding its market presence and establishing a
              reputation for excellence and reliability.
            </li>
            <li class="biography-li mt-4">
              Yaser's commitment to continuous learning, leadership excellence,
              and deep understanding of the technological and construction
              landscapes have been pivotal in his career. His journey from a
              software engineer to a CEO reflects his dedication, strategic
              vision, and ability to adapt to evolving industry demands.
            </li>
            <li class="biography-li mt-4">
              In addition to his professional endeavors, Yaser is passionate
              about mentoring young professionals and contributing to community
              initiatives. He remains an active participant in industry forums,
              sharing insights and fostering collaborations that drive
              technological and business advancements.
            </li>
          </ul>

          <a
            href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAB9i3AcBjwAlfI5AeONEF_2MJONxUWg63No&keywords=yaser%20bedawy&origin=RICH_QUERY_SUGGESTION&position=0&searchId=e0022fc2-b450-4e02-94b9-c43934421c85&sid=Y0t&spellCorrectionEnabled=false"
            class="btn bg__primary text-white fw-bold d-block w--- m-auto hover__btn-primary"
            target="_blank"
            >More Details <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </section>

      <!-- end-Block:: Biography__sec -->
      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div
            class="row text-center align-items-center justify-content-between"
          >
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2024 © Yasser Helmy
            </div>
            <div class="social-media__platforms col-md-6 col-sm-12 flex-nowrap">
              <a
                href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAB9i3AcBjwAlfI5AeONEF_2MJONxUWg63No&keywords=yaser%20bedawy&origin=RICH_QUERY_SUGGESTION&position=0&searchId=e0022fc2-b450-4e02-94b9-c43934421c85&sid=Y0t&spellCorrectionEnabled=false"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a
                href="mailto:yaser@ptcqa.net"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:0097430637637"
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
              <a
                href="#"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="#"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-6 col-sm-12"
            >
              2024 © Yasser Helmy
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>
  </body>
</html>
