<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yasser Helmy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../content/css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/main/main.css" />
  </head>
  <body>
    <!-- start-Block::  NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container text-center">
        <a class="navbar-brand fw-bold rounded-3 d-flex" href="about.html">
          Yasser Helmy
        </a>

        <div class="ul__container" id="">
          <ul class="navbar-nav mb-2 mb-lg-0 navbar__ul ms-auto">
            <li class="nav-item me-3">
              <a class="nav-link text-capitalize rounded-3" href="about.html"
                >about</a
              >
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3 active"
                href="portfoio.html"
              >
                portfolio
              </a>
            </li>
            <li class="nav-item me-3">
              <a
                class="nav-link text-capitalize rounded-3"
                aria-disabled="true"
                href="../index.html"
                >contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end-Block::  NAVBAR -->

    <main class="mt-5">
      <!-- start-Block:: introduction SEC -->

      <section
        class="header-sec text-center p-5 header__background text-white fw-bold mb-5"
      >
        <h2 class="text-center fw-bold fs-1">My Portfolio</h2>
        <span class="text-center d-block"
          ><a href="about.html" class="fw-bold text-white hovr">Home</a>
          <i class="fa-solid fa-arrow-right"></i>
          <a href="portfoio.html" class="fw-bold text-white hovr"
            >Portfolio</a
          ></span
        >
      </section>

      <!-- end-Block:: introduction SEC -->

      <!-- start-Block::Navs&Tabs -->
      <div class="container py-5 shadow mb-5">
        <div class="row">
          <div class="col-12">
            <div class="p-2">
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a
                    href="#pharmacy"
                    class="nav-link active"
                    data-bs-toggle="tab"
                    >Our Website</a
                  >
                </li>
                <!-- <li class="nav-item">
                  <a href="#industrial" class="nav-link" data-bs-toggle="tab"
                    >Workshops</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#power" class="nav-link" data-bs-toggle="tab"
                    >Events</a
                  >
                </li> -->

                <!-- <li>
                    <a href="#">Special Buildings</a>
                  </li> -->
              </ul>
              <div class="tab-content p-4">
                <div id="pharmacy" class="active tab-pane fade in show">
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/34.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            Project
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://tawredat-qa.com/"
                            target="_blank"
                            class="btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto card__btn"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/36.jpeg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            Project
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://tawredat-qa.com/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                      <div
                        class="card"
                        style="width: 100%; height: 350px; margin: auto"
                      >
                        <div class="img-container overflow-hidden">
                          <img
                            src="../content/assets/images/Branding-Posts-10 (1).jpg"
                            class="card-img-top img-scale"
                            alt="..."
                          />
                        </div>

                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center primary fw-bold">
                            Project
                          </h5>
                          <!-- <p class="card-text"></p> -->
                          <a
                            href="https://tawredat-qa.com/"
                            target="_blank"
                            class="btn card__btn bg__primary text-white fw-bold d-block widthOfBtn m-auto mt-3 mt-auto"
                            ><i class="fa-solid fa-eye fs"></i> More Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end-Block::Navs&Tabs -->

      <!-- start-Block:: FOOTER -->
      <footer class="footer mt-auto">
        <div class="footer__container container p-3 align-items-center">
          <div
            class="row text-center align-items-center justify-content-between"
          >
            <div class="copy-rights fw-bold text-white fs-5 col-md-4 col-sm-12">
              2024 © Yasser Helmy
            </div>
            <div class="social-media__platforms col-md-6 col-sm-12 flex-nowrap">
              <a
                href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAB9i3AcBjwAlfI5AeONEF_2MJONxUWg63No&keywords=yaser%20bedawy&origin=RICH_QUERY_SUGGESTION&position=0&searchId=e0022fc2-b450-4e02-94b9-c43934421c85&sid=Y0t&spellCorrectionEnabled=false"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a
                href="mailto:yaser@ptcqa.net"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-solid fa-envelope"></i
              ></a>
              <a
                href="tel:0097430637637"
                target="_blank"
                class="phone-icon text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
              >
                <i class="fas fa-phone"></i>
              </a>
              <a
                href="#"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="#"
                target="_blank"
                class="text-white icons__border fs-3 fw-bold rounded-2 me-2 p-2 bg-tertiary"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </div>
            <div
              class="copy-rights-phone d-none fw-bold text-white fs-5 col-md-6 col-sm-12"
            >
              2024 © Yasser Helmy
            </div>
          </div>
        </div>
      </footer>
      <!-- end-Block:: FOOTER-->
    </main>

    <script src="../content/js/vendors/bootstrap.bundle.min.js"></script>
  </body>
</html>
